<%- include('./partials/header') %> 
<h1 id="show">MySHOWS</h1>
<section class="main">
    <% myMovies.forEach(element => { %>
    <article class="favourite">
      
            <img src="https://image.tmdb.org/t/p/w500<%= element.poster_path %> " alt="">
            <h3><%= element.title%> </h3>
            <h4><%= element.overview %> </h4>
            <a href="/removeFavourite/<%= element._id %>"> See More </a>
    </article>
    <% }) %>
</section>
<%- include('./partials/footer') %>