<%- include('./partials/header') %> 
<section class="main">
    <% allmoviedata.forEach(ele => { %>
    <article>
        <a href="/details/<%= ele.id %>">
            <img src="https://image.tmdb.org/t/p/w500<%= ele.poster_path %> " alt="">
            <h3><%= ele.title%> </h3>
        </a>
    </article>
    <% }) %>
</section>

<button onClick="scroll(0, 100);">Klicken, um 100 Pixel nach unten zu scrollen</button>

<%- include('./partials/footer') %> 



